package ${entityPakage};

import com.hacker.common.core.domain.BasicEntity;
import java.io.Serializable;
import java.util.Date;
import lombok.Data;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${className} extends BasicEntity<String> implements Serializable {

	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	#if($column.attrname != "id" && $column.attrname != "createDatetime" && $column.attrname != "createUser" && $column.attrname != "updateDatetime" && $column.attrname != "updateUser")
		//$column.comments
		private $column.attrType $column.attrname;
	#end
#end

}
